#to {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(./images/cimg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 400px;
    height: 600px;
    border-radius: 10px 0 30% 0;
    font-family: monospace;
}

#too {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(./images/cimg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 400px;
    height: 600px;
    border-radius: 10px 0 30% 0;
    font-family: monospace;
}

#tooo {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(./images/cimg2.1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    object-fit: cover;
    width: 400px;
    height: 600px;
    border-radius: 10px 0 30% 0;
}


/* Carousel Work on Hero Page */

#carousel {
    background: linear-gradient(to left, rgba(135, 63, 63, 0), rgba(3, 103, 140, 0.8));
}

#priceSection {
    background: linear-gradient(to left, rgba(135, 63, 63, 0), rgba(3, 103, 140, 0.8));
}
#contact {
    background: linear-gradient(to left, rgba(135, 63, 63, 0), rgba(3, 103, 140, 0.8));
    width: 100%;
    height: 100vh;
}